@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Overpass&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.n{
    display: none;
}

.dark{
    background-color: var(--very-dark-grayish-blue);
}

.light{
    background-color: var(--light-grayish-blue);

}

:root{
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --my-grey: hsl(220, 2%, 69%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

body{
    background-color: var(--light-grayish-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Manrope',sans-serif;
}

main{
    display: flex;
    flex-direction: row;
    width:90rem;
    height: 35rem;
    background-color: whitesmoke;
    border-radius: 2rem;
    margin-bottom: 2rem;
    position: relative;
    }

.div-img{
    border-radius: 2rem  0 0 2rem;
    height: auto;
    background-image:url(images/drawers.jpg);
    width: 62rem;
    height: 35rem;
    background-size: cover;
    background-position: left top;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30rem;
    padding: 2.5rem;
}

.info{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content:space-around;
    line-height: 1.5;
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
    line-height: 1.5;
    color: var(--very-dark-grayish-blue);
    font-size: 1.3rem;
    }

h2{
    font-size: 2.4rem;
}

.grey{
    margin-top: 1rem;
    font-size: 1.7rem;
}

.linebreakmob{
    display: none;
}


.bottom{
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
}

.person{
    display: flex;
    justify-content: space-between;
}


.person-info{

    margin-bottom: -1rem;

}

.person-info :nth-child(2){
    margin-top: .5rem;
}


.avatar{
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem; 
    margin-right: 2rem;
}


.person-info{ 
    font-size: 1.3rem;
    color: var(--desaturated-dark-blue);
    font-weight: 700;
}

.person-info {
    font-weight: 700;
}    

.share{
    border-radius: 0 0 2rem 2rem;
    margin-top: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;    
    cursor: pointer;

 } 

.links{
    display: none;
     background-color: var(--very-dark-grayish-blue);
    color: var(--light-grayish-blue);
     width: 23rem;
     height: 8rem;
     text-transform: uppercase;
     letter-spacing: 1.1rem;
     top: 8rem;
     transform: translate(-500px,100px);
     left: 88rem;
     border-radius: 3rem;
}

.links::after{
    position: absolute;
    content: '';
    z-index: -1;
    width: 5rem;
    height: 5rem;
    background-color: var(--very-dark-grayish-blue);
    transform: translate(5rem,3rem) rotate(135deg);;
}

.links .person{
    width: 100%;
}


.links .share{
    display: none;
}

.icons{

    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

#linksBtn{
    background-color: var(--desaturated-dark-blue);
}

#linksBtn .shareIcon{
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(1000%) contrast(97%);

}

.clicked{
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(1000%) contrast(97%);
}

 @media only screen and (max-width:90rem){
    main{
        display: flex;
        flex-direction: column;
        width:35rem;
        height:65rem;
        background-color: white;
        border-radius: 2rem;
    }

    .div-img{ 
        border-radius: 2rem 2rem 0 0 ;
        width: 35rem;
        height: 23rem;
        margin-bottom: 2rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    .info{
        width: 100%;
        height: auto;
        line-height: 1.5;
        color: var(--very-dark-grayish-blue);
        font-size: 1.3rem;
        line-height: 1.5;
        color: var(--very-dark-grayish-blue);
        font-size: 1.3rem;
    }

    .grey{
        font-size: 1.5rem;
        margin: 2.6rem 0 0 0;
        color:var(--desaturated-dark-blue)
    }

    br{
        display: block;
    }

    .bottom{

        position: relative;
        border-radius: 0 0 2rem 2rem;

    }

    .links{
        top: 20rem;
        transform: translate(-500px,100px);
        left: 50rem;
        width: 35rem;
        height: 10rem;   
    }

    .links::after{
        display: none;
    }

    .links .person{
        width: 70%;

        justify-content: space-between;
    }

    .links .share{
        display: flex;
    }

    .icons{
        width: 70%;
        display: flex;
        justify-content: space-evenly;
    }
    
}
