@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Overpass&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;

}

html{
    font-size: 62.5%;
}

.flexy{
    display: flex;
}

.n{
    display: none;
}

.dark{
    background-color: var(--very-dark-grayish-blue);
}

:root{
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --my-grey: hsl(220, 2%, 69%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

body{
    background-color: var(--light-grayish-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Manrope',sans-serif;
}

main{
      display: flex;
      flex-direction: row;
      width:90rem;
      height: 35rem;
      background-color: whitesmoke;
      border-radius: 2rem;
      margin-bottom: 2rem;
    }

.div-img{
    border-radius: 2rem  0 0 2rem;
    height: auto;
    background-image:url(images/drawers.jpg);
    width: 62rem;
    height: 35rem;
    background-size: cover;
    background-position: left top;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30rem;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
}

    .info{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        line-height: 1.5;
        width: 100%;
        height: 100%;
        font-size: 1.3rem;
        line-height: 1.5;
        color: var(--very-dark-grayish-blue);
        font-size: 1.3rem;
    }


.linebreakmob{
    display: none;
}


.bottom{
    height: 12rem;
    display: flex;
    /* align-items: center; */
    padding: 2.5rem;
    /* margin-top: auto; */
}



.person{
    margin-bottom: -1rem;
    width: 100%;
    align-items: center;


}

.avatar{
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem; 
    margin-right: 2rem;
}

.person-info{ 
    font-size: 1.3rem;
    color: var(--desaturated-dark-blue);
    font-weight: 700;
}

.person-info :nth-of-type(2){
    font-weight: 400;
    /* margin-top: .7rem; */
}

.share{
    border-radius: 0 0 2rem 2rem;
    margin-top: auto;
    margin-left: auto;
    display: flex;
    background-color: var(--light-grayish-blue);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;    
    cursor: pointer;
    position: relative;
}

.shareClicked{
    border-radius: 0 0 2rem 2rem;
    display: flex;
    background-color: var(--desaturated-dark-blue);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;    
}

.shareIcon{
    width: 2rem;
    height: 2rem;
}

.share2{
    margin-top: -.5rem;
    background-color: var(--desaturated-dark-blue);
}

.shareBtnActive{
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(1000%) contrast(97%);
}

.links{
    /* display: flex; */
    text-transform: uppercase;
    letter-spacing: 1rem;
    text-align: center;    
    color: var(--light-grayish-blue);
}

.links2{
    position: absolute;
    bottom:6rem;
    /* display: flex; */
    justify-content: center;
    background-color: var(--very-dark-grayish-blue);
    width: 22rem;
    height: 5rem;
    border-radius: 2rem;
}


.icons{

    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


 @media only screen and (max-width:90rem){
    main{
        display: flex;
        flex-direction: column;
        width:35rem;
        height: 60rem;
        background-color: white;
        border-radius: 2rem;
    }

    .div-img{ 
        border-radius: 2rem 2rem 0 0 ;
        width: 35rem;
        height: 23rem;
        margin-bottom: 2rem;
        background-repeat: no-repeat;
         background-size: cover;
         background-position: top;
    }

    .info{
        width: 100%;

        height: 35rem;
        line-height: 1.5;
        color: var(--very-dark-grayish-blue);
        font-size: 1.3rem;
        line-height: 1.5;
        color: var(--very-dark-grayish-blue);
        font-size: 1.3rem;
    }

    .grey{
        font-size: 1.5rem;
        margin: 2.6rem 0 0 0;
        color:var(--desaturated-dark-blue)
    }

    br{
        display: block;
    }

    .bottom{


        border-radius: 0 0 2rem 2rem;

    }

    .links{
        position: static;
        width: 100%;
    }
    
}
